# Conditionals
## if, elif & else

In [5]:
#Leave Days
leave_days = 0

leave_days = leave_days + 1

print(leave_days)

1

In [11]:
#incrementing var by value
leave_days +=1
print(leave_days)

7

In [12]:
#Decrement value by 1
leave_days -=1 #leave_days = leave_days - 1

print(leave_days)

6

In [13]:
leave_days = 21
take_leave = True

#Decide to take leave

if take_leave:
    leave_days -=1
    
    
print(leave_days)

20

In [22]:
age = 12

if age>18: #condition
    print("You can have ID")
else:
        print("You are underage")

You are underage

In [24]:
score =  39

if score > 40:
    outcome = "Pass"
else:
    outcome = "Fail"
    
print(outcome)

Fail

In [ ]:
age = 19
gender = "Male"
if age<18 and gender =="Male":
    print("Boy")

# AND
#used to join Two or More Conditions
#eg students who score above 40 and below 50 attain a certain grade
#NOTE: AND  both conditions must be True

#Summary
|Condition 1| Condition 2| Final Condition|
|:---------:|:----------:|:--------------:|
|True|True|True|
|True|False|False|
|False|True|False|
|False|False|False|

above 40 >> D
above 50 >> C
above 60 >> B
above 70 >> A

In [33]:
#grades
grade = 27

if grade >= 40 and grade < 50:
    grade = "D"
    print(grade)
elif (grade >=50) and (grade < 60):
    grade = "C"
    print(grade)
    
elif (grade >=60) and (grade < 70):
    grade = "B"
    print(grade)
    
elif (grade >70):
    grade = "A"
    print(grade)
    
else:
    print("FAIL")

FAIL

# OR
* Just like AND its is used to join conditions
* At least one condition has be True

In [37]:
height = 35

weight = 20

if (height < 40) or (weight > 50):
    print("You can go into the bouncing castle")

You can go into the bouncing castle

#Summary
|Condition 1| Condition 2| Final Condition|
|:---------:|:----------:|:--------------:|
|True|True|True|
|True|False|True|
|False|True|True|
|False|False|False|

In [39]:
height = 65

weight = 90

if (height < 40) or (weight > 50):
    print("You can go into the bouncing castle")
else: 
    print("You will destroy the Bouncing Castle")

You can go into the bouncing castle

In [2]:
#Assignment number 1
number = 80
quotient = (number%2)
if (quotient == 0):
    number = "This is an Even number"
    print(number)
else: print("This is an Odd number")

This is an Even number

In [6]:
#Assignment number 2
Year = 2020
quotient_1 = (Year%4)
quotient_2 = (Year%100)
quotient_3 = (Year%400)
if (quotient_1 == 0 and quotient_2 != 0) or (quotient_1 == 0 and quotient_3 == 0):
    Year = "This is a Leap year"
    print(Year)
else: print("This is not a leap year")

This is a Leap year

In [7]:
# Assignment number 3
#age < 13 ......... price Ksh.400
#age 13 <= age<= 17 ......Ksh.600
#age 18 <= age<= 65...... Ksh.800
#age > 65............... Ksh.350

age = 42
if (age < 13):
    age = "Price: Ksh.400"
    print(age)
    
elif (age >=13) and (age <= 17):
    age = "Price: Ksh.600"
    print(age)
    
elif (age >= 18) and (age <= 65):
    age = "Price: Ksh.800"
    print(age)
    
elif (age > 65):
    age = "Price: Ksh.350"
    print(age)

Price: Ksh.800