# Functions

* A named block of code that are designed to do one specific job.
* When you want to perform a particular task that you have defined in a function, you *call* the function responsible for it.
* If you need to perform that task multiple times across your program, you dont need type the code all over again and again; you just call the function dedicated to handling that task.
* Using functions makes your program easier to write, read, test and fix.

In [1]:
# zen of python
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Types of Functions 

1. `User-defined functions` - Functions that we create/define ourselves in our program and then call them wherever we want.
2. `Built-in Functions` - Functions already defined in Python Libraries and we call them directly.

## Defining a Function

In [11]:
# example 
def greet_user():
    """Display a simple greeting"""
    print("Hello!")

greet_user()

Hello!

`def greet_user():` 
* Using the keyword `def` to inform python that you are defining a function, refered to as *function definition*. 
* Function definition tells python the name of the function, in the example above, **greet_user**.
* It also informs python, if applicable, what kind of information the function needs to perform it's task/job, passed into to function using the `()`. In this case, the function need no information to perform its tasks hence the empty brackets.
* Any indented lines that follow the `:` make up the body of the function.

`"""Display a simple greeting"""`

* Comment called *docstring*, that describes what the function does.
* If a single short one line statement, we can use a `#`.

`print("Hello World!")`
* Function body line(s) indented inside the function.
* Contains set of instructions on the code to be executed.

`greet_user()`
* When you want to use a function, you call it. 
* A **function call** tells python to execute the indented code in the function body.
* To call a function, write the function name, in our example, `greet_user`, followed by any necessary information in the `()`.

In [7]:
# comment 

"""Comment"""

# This is a multiple line comment
# The tripple double quotes 
# Used to create multiple line comments

"""
This is a multiple line comment
The tripple double quotes 
Used to create multiple line comments
"""

print("Antonny")

Antonny

In [9]:
# example 2

def add_numbers(): # defining our function
    """Simple function to add numbers"""
    a = 2
    b = 5
    sum = a + b
    print(sum)

add_numbers() # calling our function

7

## Passing information to a function

* The function greet_user can only tell the user *Hello!* but not greet them by name.

In [12]:
def greet_user(username):
    """Display a simple greeting"""
    print(f"Hello {username}!")

greet_user('Antonny')

Hello Antonny!

* By adding `username` in our function definition, we are allowing the function to accept any value for *username*.
* Expectations: - provide a value for a *username* each time call it.

In [13]:
# second function call 
greet_user('Melly') # changed username value

Hello Melly!

* `parameters` - in the example greet_user(username), *username* is the parameter.
A piece of information the function needs to do its job/task.
* `arguments` - the value *Antonny* and *Melly* are arguments.
A piece of information that's passed from a function call to a function.

In [14]:
# third function call 
greet_user()

TypeError: greet_user() missing 1 required positional argument: 'username'

* We must pass in arguments during function calls to avoid errors.

In [15]:
def describe_pet(animal_type, pet_name):
    """Display information about a pet"""
    print(f"I have a {animal_type}.")
    print(f"My {animal_type}'s name is {pet_name}.")

describe_pet('Cat', 'Missy')

I have a Cat.
My Cat's name is Missy.

* When you call a function, Python must match each argument in the function call with a parameter in the function definition.

In [16]:
# the arguments match the order of the parameter 
describe_pet('Scooby', 'Dog') # this is wrong

I have a Scooby.
My Scooby's name is Dog.

In [17]:
# alternatively use keyword arguments
describe_pet(pet_name='Scooby', animal_type='Dog') # assign arguments to parameters

I have a Dog.
My Dog's name is Scooby.

In [18]:
# default values 
def describe_pet(pet_name, animal_type = 'Dog'):
    """Display information about a pet"""
    print(f"I have a {animal_type}.")
    print(f"My {animal_type}'s name is {pet_name}.")

* Defining a **default values** for the parameter `animal_type` and setting it as `Dog`.

In [19]:
describe_pet('Missy')

I have a Dog.
My Dog's name is Missy.

If an argument is not provided in the function call, python uses the default value ie `Dog` in the example above.

In [21]:
describe_pet('Hope', 'Cow')

I have a Cow.
My Cow's name is Hope.

If an argument for a parameter is provided in the function call, python uses the argument value provided and not the default value.

## Return Values

* A function doesn't have to display its output directly.

In [40]:
# example 
def send_greeting(user):
    """Welcome users to a wedding"""
    message = f"Welcome {user} to Nyambane and Ida's Wedding!"

send_greeting('Yusuf')

* Functions process data and then return a value or set of values, called **return values**.

In [43]:
# modify the example 
def send_greeting(user):
    """Welcome users to a wedding"""
    message = f"Welcome {user} to Nyambane and Ida's Wedding!"

    return message

send_greeting('Eugene')

"Welcome Eugene to Nyambane and Ida's Wedding!"

* The `return` statement takes a value or set of values from inside a function and send it back to the line that called the function.

In [42]:
welcome_message = send_greeting('Kocheli')

print(welcome_message)

Welcome Kocheli to Nyambane and Ida's Wedding!

In [1]:
# Example 2

def calculator(a, b, operator):
    """Simple arithmetic operations"""
    if (operator.strip() == "+"):
        sum = a + b
        sum_out = f"{a} + {b} = {sum}"
        return sum_out
    elif (operator.strip() == "-"):
        diff = a - b
        diff_out = f"{a} - {b} = {diff}"
    
        return diff_out
    
    elif (operator.strip() == "*"):
        times = a * b
        times_out = f"{a} * {b} = {times}"
        return times_out
    elif (operator.strip() == "/"):
        div = a / b
        div_out = f"{a} / {b} = {div}"
        return div_out
    else:
       
            print("Enter Numbers Only")
    
    
calculator(4, 7, "/")

'4 / 7 = 0.5714285714285714'

In [2]:
def alt_calculator(a, b):
    """Alternative Calculator"""
    sum = a + b
    diff = a - b
    multiplication = a * b
    division = a / b
    
    # return set of values
    return sum, diff, multiplication, division
alt_calculator(7, 3)

(10, 4, 21, 2.3333333333333335)

In [3]:
# assign var  to our function call
alt_calculator_output = alt_calculator(7, 3)
print(type(alt_calculator_output))

# accessing indiv val in the return  set of values
difference = alt_calculator_output[1]
prod = alt_calculator_output[-2]

print(difference)
print(prod)

<class 'tuple'>
4
21

In [4]:
# def Squares

def sum_squares(numbers):
    """
    parameters: 
        numbers - list of numbers 
    return:
        sum of the squares of the list of numbers
    """
    squared_numbers = []
    for num in numbers:
        square = num ** 2
        squared_numbers.append(square)
        squares_sum = sum(squared_numbers)
    return squares_sum, squared_numbers

sum_squares([1,2,3])

(14, [1, 4, 9])

# Built-in Functions
## Input fn


### Type Hinting
* Allows us specify expected types of var, function parameters and return values
* int function uses the built in function to convert a string that has numbers to an integer

In [5]:
# Input  that takes in user input 
# Input only takes in strings

first_name = input("Enter your First Name: \n")

Enter your First Name:
 Martin

In [29]:
def even_or_odd():
    num = int(input("Enter a number: "))
    if num % 2 == 0:
        return "Even"
    else:
        return "Odd"
result = even_or_odd()
print(f"The number is {result}.")

Enter a number:  90

The number is Even.

In [8]:
def check_even_odd():
    try:
        num = int(input("Enter a number: "))
        
        if num % 2 == 0:
            print(f"{num} is even.")
        else:
            print(f"{num} is odd.")
    except ValueError:
        print("Invalid input. Please enter a valid number.")

# Call the function
check_even_odd()

Enter a number:  89

89 is odd.

In [32]:
def even_or_odd(num):
    if num % 2 == 0:
        return "Even"
    else:
        return "Odd"

num = int(input("Enter a number: "))
result = even_or_odd(num)
print(f"The number {num} is {result}.")

Enter a number:  90

The number 90 is Even.

In [1]:
# Reusable named block of codes

def get_grade():
    #count = 5
    student_scores = []
    subjects = ["English", "Kiswahili", "Math", "Science", "Music"]
    #while (count < = 5):
    for subject in subjects:
        score = input(f"enter {subject} score: \n)
        student_scores.append(score)
        #count += 1
    return student_scores
get_grade()

enter English score:
90
enter Kiswahili score:
90
enter Math score:
90
enter Science score:
90
enter Music score:
90

['90', '90', '90', '90', '90']

In [2]:
#get student name
def student_names():
    name = input("student name e.g Jane Doe: \n")
    return name
student_names()

student name e.g Jane Doe:
Tsinjekho Shimalabandu Mapnago

'Tsinjekho Shimalabandu Mapnago'

In [17]:
# getting individual scores
def get_scores():
    student_scores = []
    subjects = ["English", "Kiswahili", "Maths", "Science", "Music"]
    
    for subject in subjects:
        score = int(input(f"enter {subject} score: "))
        student_scores.append(score)
        
    return student_scores

get_scores()

enter English score: 90
enter Kiswahili score: 98
enter Maths score: 89
enter Science score: 77
enter Music score: 98

[90, 98, 89, 77, 98]

In [19]:
#get student total

def student_total():
    """get total scores
    Returns: 
        Total student scores out of 500
    """
    student_scores = get_grade()
    total = sum(student_scores)
    
    return total
student_total()

enter English score:
98
enter Kiswahili score:
98
enter Math score:
87
enter Science score:
89
enter Music score:
90

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [7]:
def student_performance():
    """ get student name
        get student scores
        grade student
        sum student scores
            return: student name, scores, grade, total.
    """
    student_name = student_names()
    student_score = get_scores()
    student_grade = []
    # loop through the grade
    for score in student_score:
        if (score >= 80) and (score <= 100):
            grade = "A"
            student_grade.append(grade)
        elif (score >=70) and (score<80):
            grade = "B"
            student_grade.append(grade)
        elif (score >=60) and (score<70):
            grade = "C"
            student_grade.append(grade)
        elif (score >=50) and (score<60):
            grade = "D"
            student_grade.append(grade)
        elif (score <50) and (score>=0):
            grade = "D"
            student_grade.append(grade)
        else:
            print("invalid grade")
            student_grade.append(none)
            
    total = sum(student_score)
    
    return(student_name, student_score, student_grade, total)

student_performance()

student name e.g Jane Doe:
Joohn
enter English score:
90
enter Kiswahili score:
92
enter Maths score:
20
enter Science score:
12
enter Music score:
11

('Joohn', [90, 92, 20, 12, 11], ['A', 'A', 'D', 'D', 'D'], 225)

In [8]:
# Adding more Students Perfomance

student_number = 0
Class_performance ={
    "Name": [],
    "English": [],
    "English_grade": [],
    "Kiswahili": [],
    "Kiswahili_grade": [],
    "Maths": [],
    "Maths_grade": [],
    "Science": [],
    "Science_grade": [],
    "Music": [],
    "Music_grade": [],
    "total": []
}

while student_number <= 3:
    indiv_student = student_performance()
    indiv_student = list(indiv_student)
    Class_performance["Name"].append(indiv_student[0]) # First name in the indiv perf list
    Class_performance["English"].append(indiv_student[1][0]) # First subject
    Class_performance["English_grade"].append(indiv_student[2][0])
    Class_performance["Kiswahili"].append(indiv_student[1][1])
    Class_performance["Kiswahili_grade"].append(indiv_student[2][1])
    Class_performance["Maths"].append(indiv_student[1][2])
    Class_performance["Maths_grade"].append(indiv_student[2][2])
    Class_performance["Science"].append(indiv_student[1][3])
    Class_performance["Science_grade"].append(indiv_student[2][3])
    Class_performance["Music"].append(indiv_student[1][4])
    Class_performance["Music_grade"].append(indiv_student[2][4])
    Class_performance["total"].append(indiv_student[3])                                       
    student_number += 1
    #print(Class_performance)

student name e.g Jane Doe:
Shibulishikanda Mwenesi
enter English score:
83
enter Kiswahili score:
82
enter Maths score:
91
enter Science score:
57
enter Music score:
89
student name e.g Jane Doe:
Pampido Mapango
enter English score:
89
enter Kiswahili score:
89
enter Maths score:
91
enter Science score:
78
enter Music score:
77
student name e.g Jane Doe:
Tsinjekho Shimalabandu
enter English score:
99
enter Kiswahili score:
97
enter Maths score:
99
enter Science score:
91
enter Music score:
99
student name e.g Jane Doe:
Machina Makhacha
enter English score:
71
enter Kiswahili score:
65
enter Maths score:
71
enter Science score:
63
enter Music score:
78

In [9]:
print(Class_performance)

{'Name': ['Shibulishikanda Mwenesi', 'Pampido Mapango', 'Tsinjekho Shimalabandu', 'Machina Makhacha'], 'English': [83, 89, 99, 71], 'English_grade': ['A', 'A', 'A', 'B'], 'Kiswahili': [82, 89, 97, 65], 'Kiswahili_grade': ['A', 'A', 'A', 'C'], 'Maths': [91, 91, 99, 71], 'Maths_grade': ['A', 'A', 'A', 'B'], 'Science': [57, 78, 91, 63], 'Science_grade': ['D', 'B', 'A', 'C'], 'Music': [89, 77, 99, 78], 'Music_grade': ['A', 'B', 'A', 'B'], 'total': [402, 424, 485, 348]}

In [10]:
import pandas as pd
df = pd.DataFrame(Class_performance)
df

,Name,English,English_grade,Kiswahili,Kiswahili_grade,Maths,Maths_grade,Science,Science_grade,Music,Music_grade,total
0,Shibulishikanda Mwenesi,83,A,82,A,91,A,57,D,89,A,402
1,Pampido Mapango,89,A,89,A,91,A,78,B,77,B,424
2,Tsinjekho Shimalabandu,99,A,97,A,99,A,91,A,99,A,485
3,Machina Makhacha,71,B,65,C,71,B,63,C,78,B,348